.searchBar {
  width: 45%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 170px;
}

#search-field {
  background-color: #f8d2cf;
  color: black;
  font-weight: 600;
  text-align: center;
}

.searchButton {
  background-color: #cce9d6;
  color: black;
  border: 1px solid black;
}

.searchButton:hover {
  background-color: #f8d2cf;
  color: black;
  border: 1px solid black;
}

.title {
  padding-bottom: 20px;
  font-size: 40px;
}
