@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap");
body {
  margin: 0;
  background-color: #f8f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #cde9d6;
}

.logo {
  display: block;
  margin: 0 auto;
}

