@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f6f6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  margin-top: 100px;
  padding: 0rem;
  padding-top: 0px;
  background-color: #cde9d6;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  clear: both;
  
}

.contact {
  font-family: "Barlow", sans-serif;
  color: black;
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
}

.contact:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.policy {
  font-family: "Barlow", sans-serif;
  color: black;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 15px;
  font-size: 20px;
}

.policy:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.easyeats {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

.pinterest {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.pinterest:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.insta {
  margin-top: 15px;
  margin-left: -20px;
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.insta:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.twitter {
  margin-top: 15px;
  margin-left: -5px;
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.twitter:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.facebook {
  margin-top: 15px;
  margin-left: -30px;
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.facebook:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.top {
  margin-top: 15px;
  margin-left: 300px;
  margin-right: 50px;
  font-size: 25px;
}

.top:hover {
  color: #f8d2cf;
  cursor: pointer;
}
