/* .footer {
    padding: 20px;
    font-weight: bold;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #CCE9D6;
} */

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  margin-top: 100px;
  padding: 1rem;
  background-color: #cde9d6;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.contact {
  font-family: "Barlow", sans-serif;
  justify-content: space-between;
  color: black;
  margin-left: 50px;
  font-size: 20px;
}

.contact:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.policy {
  font-family: "Barlow", sans-serif;
  margin-left: 50px;
  font-size: 20px;
}

.policy:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.easyeats {
  font-family: "Bebas Neue", cursive;
  margin-left: 850px;
  font-size: 20px;
  justify-content: center;
}

.pinterest {
  margin-top: 15px;
  margin-left: 500px;
  font-size: 25px;
}

.pinterest:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.insta {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 25px;
}

.insta:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.twitter {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 25px;
}

.twitter:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.facebook {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 25px;
}

.facebook:hover {
  color: #f8d2cf;
  cursor: pointer;
}

.top {
  margin-top: 15px;
  margin-left: 300px;
  font-size: 25px;
}

.top:hover {
  color: #f8d2cf;
  cursor: pointer;
}
