@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap");


.nutritionInngredients {
    background-color: #f8d2cf;
    font-family: "Barlow", sans-serif;
}

.recipeDetails {
    background-color: #f8d2cf;
    padding: 50px;
    border-radius: 25px;
    font-family: "Barlow", sans-serif;
    display: block;
    margin: 0 auto;
    /* text-align: center; */
}

.recipeImage {
    display: block;
    text-align: center;
}

.recipeLink {
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
}

.recipeTitle {
    margin-top: 50px;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.niTitle {
    font-weight: bold;
    /* text-align: left; */
}

.myCookBookButton {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Barlow", sans-serif;
    border: 5px solid #f8d2cf;
    border-radius: 10px;
    font-weight: bold;
}

.nutritionLine {
    text-align: left;
}

.loader {
    text-align: center;
}