body {
  background-color: #f8f6f6;
}

.gluten-title {
  font-family: "Bebas Neue", cursive;
  font-size: 55px;
  margin-left: 940px;
  margin-bottom: 1px;
  padding-top: 70px;
  padding-bottom: 60px;
}
