body {
  background-color: #f8f6f6;
  position: relative;
  height: 100%;
}

.gluten-title {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 65px;
  margin: 0 auto;
  padding-top: 70px;
}

.container {
  text-align: center;
  margin-bottom: 0px;
}
