@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap");

.w-6 {
  width: 2.5em;
}

.h-6 {
  height: 2.5em;
}

.star-icons {
  display: inline-flex;
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.rating {
  padding: 20px;
  margin-top: 30px;
  margin-right: 25px;
  margin-bottom: 30px;
  font-family: "Barlow", sans-serif;
  border-radius: 50px;
}
