@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap');
body {
  margin: 0;
  background-color:#F8F6F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
    background-color: #CDE9D6;
    }
    
    .logo{
      width: 150px;
      margin-left: 1095px;
    }