@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap');

.cookbook-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    margin-left:850px;
   padding-top: 75px;
   padding-bottom: 60px;
}