@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap');
.navbar{
    background-color: #F8D2CF; 
    bottom:970px;

    margin:0px;
    width: 100%;
    position: fixed;
    display: flex;
}

.nav-item {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    justify-content: space-between;
    color: black;
    margin-left: 50px;
    font-size: 20px;
}

.nav-link {
    margin-left:500px;
    color: black;
    
}