@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap");

body {
  background-color: #F8F6F6;
}

.about {
  font-family: "Bebas Neue", cursive;
  font-size: 55px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 25px;
}

.circle {
  background-color: #f8d2cf;
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 800px;
  bottom: 250px;
  top: 250px;
  border-radius: 50%;
}

.circle-text {
  font-family: "Barlow", sans-serif;
  margin: auto;
  text-align: center;
}
