.navigationBar {
    background-color: #F8D2CF; 
    padding: 10px;
    margin: 0px;
    width: 100%;
}

.nav-item {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
}