.recipeCard {
    margin-top: 30px;
    bottom: 100px;
}

.recipeView {
    margin-top: 50px;
    ;
}

.recipeButton {
    background-color: #CCE9D6;
    color: black;
}

.searchError {
    text-align: center;
}

.card{
    margin-bottom: 50px;
}